<div class="container-fluid cuerpo">
    <div class="container ">
        <div class="row w-100 d-flex justify-content-center">
            <div class="mensaje-1">
                Conoce nuestro programa de viajero frecuente
                y recibe beneficios de verdad
            </div>
        </div>
        <div class="row w-100 d-flex justify-content-center marcas">
            <div class="col-6 col-md-4 col-lg-3 contenedor-marca">
                <img class="img-marca" src="./assets/img/tween-way.jpg">
            </div>
            <div class="col-6 col-md-4 col-lg-3 contenedor-marca">
                <img class="img-marca" src="./assets/img/wendys.jpg">
            </div>
            <div class="col-6 col-md-4 col-lg-3 contenedor-marca">
                <img class="img-marca" src="./assets/img/conaripe.jpg">
            </div>
            <div class="col-6 col-md-4 col-lg-3 contenedor-marca">
                <img class="img-marca" src="./assets/img/hands-company.jpg">
            </div>
            <div class="col-6 col-md-4 col-lg-3 contenedor-marca">
                <img class="img-marca" src="./assets/img/saxoline.jpg">
            </div>
            <div class="col-6 col-md-4 col-lg-3 contenedor-marca">
                <img class="img-marca" src="./assets/img/pillin.jpg">
            </div>
            <div class="col-6 col-md-4 col-lg-3 contenedor-marca">
                <img class="img-marca" src="./assets/img/juan-maestro.jpg">
            </div>
            <div class="col-6 col-md-4 col-lg-3 contenedor-marca">
                <img class="img-marca" src="./assets/img/patagonia-pucon.jpg">
            </div>
        </div>
        <div class="row w-100 d-flex justify-content-center">
            <div class="mensaje-2">
                Inscribete en TurClub, obtén beneficios especiales, descuentos y mucho más!
            </div>
        </div>
        <div class="row w-100 d-flex justify-content-center">
            <a class="btn" href="#">Ir a TurClub</a>
        </div>
        <div class="row w-100 d-flex justify-content-center">
            <div class="mensaje-3">
                Nuestros destinos en el programa de viajero frecuente
            </div>
        </div>
        <app-listado-ces></app-listado-ces>

    </div>

</div>
