<div class="container-fluir container-footer">
    <div class="container">
        <div class="row w-100 logo-footer">
            <div class="col-2">
                <img src="../../../assets/img/logo-verde.svg" >
            </div>
        </div>
        <div class="row w-100">
            <div class="col-12 col-sm-6 col-md-4 footer-left">
                <p>Empresa de Transportes Rurales Ltda.</p>
                <ul>
                    <li class="adress">Dirección: Jesús Diez Martínez 800, Estación Central, Santiago de Chile.</li>
                    <li class="tel"><a href="tel:+56228227500">Teléfono 228227500 </a></li>
                    <li class="email"><a href="mailto:atencion_clientes@turbus.cl">Email: atencion_clientes@turbus.cl</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-4 footer-center">
                <p>Más sobre Tur Bus Ltda.</p>
                <ul>
                    <li ><a href="#">Historia</a></li>
                    <li ><a href="#">Trabaje con nosotros</a></li>
                    <li ><a href="#">Condiciones</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-4 footer-right">
                <p>Más sobre Tur Bus Ltda.</p>
                <ul>
                    <li ><a href="#">Venta de Pasajes</a></li>
                    <li ><a href="#">Aeropuerto</a></li>
                    <li ><a href="#">Arriendo de buses</a></li>
                    <li ><a href="#">Recarga de celular</a></li>
                    <li ><a href="#">Venta de buses</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
