$blue-1: rgb(32, 116, 239);

$green-1: rgb(0,198,61);
$green-2: rgb(58, 170, 53);
$green-3: rgb(0, 141, 54);

$gray-1: rgb(62, 62, 62);
$gray-2: rgb(157, 157, 156);
$gray-3: rgb(46, 46, 46);

$white-1: rgb(255,255,255);