@import "shared-styles.scss";
@font-face {
    font-family: lato;
    src: url(assets/fonts/Lato-Regular.ttf) format('truetype');
  }

body{
    font-family: lato;
    min-width: 320px;

}

@media (min-width: 992px)
{
    .container-lg, .container-md, .container-sm, .container {
        max-width: 904.53px;
    }
}

@media (min-width: 1440px)
{
    .container-fluid{
        height: 101%;
      }
}